fastapi
uvicorn
pandas
numpy
streamlit
ortools==9.9.3963
sentence-transformers
faiss-cpu
pydantic
python-multipart
plotly
watchdog
mlflow
google-generativeai
protobuf==5.29.5
requests
langchain
langchain-community
langchain-huggingface
langchain-google-genai
pinecone
rank_bm25
unstructured
pdfminer.six
python-dotenv
